
	{% extends "Into_General_Suppliers/base.html" %}
	{% block content %}

	<div class="parallax-container">
      	<div class="parallax"><img class="col s12 m4 l6 xl12" src="{{user.projects_page.project.url }}"></div>
      		<div style="margin-top: 200px" class="caption center-align">
				<h1 class="white-text">Projects</h1>
			</div>
    </div>
    <div class="section white">
        <div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Building projects</p>
        <div class="slider">
        <ul class="slides">
            <li>
                <img class="col s12 m4 l6 xl12" src="{{user.building.building1.url }}">
            </li>
            <li>
                <img class="col s12 m4 l6 xl12" src="{{user.building.building2.url }}">
            </li>
            <li>
                <img class="col s12 m4 l6 xl12" src="{{user.building.building3.url }}">
            </li>
            <li>
                <img class="col s12 m4 l6 xl12" src="{{user.building.building4.url }}">
            </li>
            <li>
                <img class="col s12 m4 l6 xl12" src="{{user.building.building5.url }}">
            </li>
        </ul>
    </div>
        </div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Plumbing projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.plumbing.plumbing1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.plumbing.plumbing2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.plumbing.plumbing3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.plumbing.plumbing4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.plumbing.plumbing5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Flooring projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.flooring.flooring1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.flooring.flooring2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.flooring.flooring3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.flooring.flooring4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.flooring.flooring5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Painting projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.painting.painting1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.painting.painting2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.painting.painting3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.painting.painting4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.painting.painting5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Paving projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.paving.paving1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.paving.paving2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.paving.paving3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.paving.paving4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.paving.paving5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Walling projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.walling.walling1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.walling.walling2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.walling.walling3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.walling.walling4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.walling.walling5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Roofing projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.roofing.roofing1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.roofing.roofing2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.roofing.roofing3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.roofing.roofing4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.roofing.roofing5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Renovations projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.renovation.renovation1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.renovation.renovation2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.renovation.renovation3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.renovation.renovation4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.renovation.renovation5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Extention projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.extention.extention1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.extention.extention2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.extention.extention3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.extention.extention4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.extention.extention5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>
    <div class="section white">
      	<div class="row container">
        <p class="grey-text text-darken-3 lighten-3">These are our top five Electricity projects</p>
        <div class="slider">
    	<ul class="slides">
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.electricity.electricity1.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.electricity.electricity2.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.electricity.electricity3.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.electricity.electricity4.url }}">
    		</li>
    		<li>
    			<img class="col s12 m4 l6 xl12" src="{{user.electricity.electricity5.url }}">
    		</li>
    	</ul>
    </div>
      	</div>
    </div>

    <div class="parallax-container">
      	<div class="parallax"><img class="col s12 m4 l6 xl12" src="{{user.projects_page.project2.url }}"></div>
      		<div style="margin-top: 200px" class="caption center-align">
				<h1 class="grey-text lighten-3">End of our Projects</h1>
			</div>
    </div>



	{% for post in posts%}
		
	{% endfor %}
	{% endblock content %}