.main-nav
{
	list-style: none;
}

.main-nav li
{
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 0px;
	color: black;
	border: none;
	transition: all 2s ease-out;
}

.main-nav li:hover
{
	margin-top: 0px;
	border: 1px dashed white;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	color: white;
	transition: all 0.5s ease-in;
}

.logo
{
	size: 150px;
}